// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dash_view{

	color: black;
	margin: 150px auto;
	text-align: center;
	width: 1000px;
	background: green;
	border-radius: 30px;
	border: 2px solid black;
	padding: 20px;

	.dash_head{
		font-size: 40pt;
	}
}

 %card{
 	color: black;
 	margin: 50px auto;
 	padding-top: 30px;
 	padding-left: 20px;
 	padding-right: 20px;
 	width: 400px;
 	height: 250px;
 	border-radius: 15px;
 	font-size: 20pt;
 	background-size: cover;

 	.number{
 		font-size: 30pt;
 		padding-top: 68px;
 	}

 	.exp{
 		text-align: right;
 	}
}

.all_cards{

	h3{
		text-align: left;
	}

	a{
		color: white;
		font-size: 12pt;
	}

	a:hover{
		color: black;
	}

	img{
		position: relative;
		right: 38%;
		width: 70px;
		height: 40px;
	}

	.balance{
		font-size: 40pt;
		color: blue;
	}

	.visa{
		@extend %card;
		background-image: url('../blue.png');		
	}

	.master{
		@extend %card;
		background-image: url('../red.png');
	}

	.other{
		@extend %card;
		background-image: url('../green.png');
	}

 }

 .card{
 	display: inline-block;
 	float: left;
 	margin: 39px;
 }

.clear{
	clear:both;
}

