// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 @import 'form';

 %card{
 	color: black;
 	margin: 50px auto;
 	padding-top: 30px;
 	padding-left: 20px;
 	padding-right: 20px;
 	width: 400px;
 	height: 250px;
 	border-radius: 15px;
 	font-size: 20pt;

 	.number{
 		font-size: 30pt;
 		padding-top: 115px;
 	}

 	.exp{
 		text-align: right;
 	}
}

.all_cards{

	a{
		color: white;
		font-size: 12pt;
	}

	a:hover{
		color: black;
	}

	img{
		position: absolute;
		left: 38%;
		width: 70px;
	}

	.visa{
		@extend %card;
		background-image: url('../blue.png');
		background-size: cover;
	}

	.master{
		@extend %card;
		background-image: url('../red.png');
		background-size: cover;
	}

	.other{
		@extend %card;
		background-image: url('../green.png');
		background-size: cover;
	}

 }